---
layout: default
onepage: true
works:
  - path: _works/diff-foods.md
  - path: _works/sketch-book.md 
  - path: _works/tv-video.md
    style: wide
  - path: _works/umbrella-beauty.md
  - path: _works/amber.md
  - path: _works/explore.md  
  - path: _works/uro-mag.md 
    style: wide
  - path: _works/flowers.md
team_slides:
  - /assets/images/@stock/slide-full-1.jpg
  - /assets/images/@stock/slide-full-8.jpg
  - /assets/images/@stock/slide-full-11.jpg
  - /assets/images/@stock/slide-full-10.jpg

testimonials:
  - quote: "Silent Disco under the I-5 Overpass - 7pm - 10pm. Rent headphones and get more information."
    link: "https://www.facebook.com/events/5040486185994707"
    author: 
      name: "Fun Luv'n Silent Disco"
      position: 'Eastbank esplanade underneath 1-5 overpass'
  - quote: "Shift Festival - July 14 - July 17, 2022. native habitat theme camp."
    link: "https://www.facebook.com/events/358417986127047"
    author: 
      name: "Tectonic SHIFT Festival 2022: Rainbow Ranch"
      position: 'Sherman County, Oregon'

festivals:
  - Re:Set 2021
  - VOode 2021
  - VOode 2020
  - Shift 2019
  - Oode 2019
  - Shift 2018
  - Oode 2018
  - Fire 2018
  - Cocoon 2017

events:
  - Nike WHQ - 2022
  - Fun Luv'n Silent Disco - 2020, 2021, 2022
  - Winter Light Festival - 2019, 2021, 2022
  - Howl - 2018, 2019, 2021
  - Roaring Twenties NYE - 2020 (Murderboat)
  - Mothership - 2018
  - Sweater Party 2018, 2019
  - White Out - 2019
  - Believe - 2019
  - Uplift - 2018
  - Frakured - 2019
  - Delta V - 2020
  - Flight - 2018
  - FMPDX - 2018
  - Deep House Wednesdays - 2019
  - Celebrate Life NYE 2018

opens:
  - Bijou
  - VNSSA
  - Lux Groove
  - LA Riots
     
---

<div class='full no-padding parallax home-video-wrapper'>
  <div class='fullscreen'>
    <video autoplay='autoplay' id='fullscreen-video' loop='loop' muted='true' poster='{{ "/assets/images/@stock/newyearseve2020edited.jpg" | relative_url }}'>
      <source src='{{ "/assets/images/MsMatchVideoReel2.mp4" | relative_url }}' type='video/mp4'>
    </video>
    <div class='overlay'></div>
    <div class='layer'>
      <p class="small-title">Moving the dance floor </p>
      <h1 class='thin' id="to-be-update">
         <span class="fir">Bass/Tech/Breaks</span><br/>
         <span class="sec">House Music</span><br/>
         <span class="thir">Ms Match Music</span>
      </h1>
      <h2 class='thin'>
       Mixes, media, and originals 
       {% assign nav_obj = site.data.nav | where:'section_id','works' | first %}
       <a href='{{ "index.html" | append:nav_obj.path | relative_url }}'>below</a>
      </h2>
    </div>
  </div>
</div>


<a id='about'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="small-title">Biography</p>
        <h2>
          Moving bodies & minds is what she does best.
        </h2>
        <p class="big-size">Ms Match brings an obsession-level focus to selecting, combining, and creating the music that keeps her and the crowd moving. Behind the decks, Ms Match channels the universal joy of losing oneself on the dance floor, in that place beyond conscious thought.
        </p>
        <div class="four spacing"></div>
        <img src="{{ "/assets/images/logo-black.png" | relative_url }}" alt="">
      </div>
    </div>
    <div class="four spacing"></div>
  </div>
</div>

<div class="full no-overflow no-padding parallax" style="background-image: url({{ "/assets/images/@stock/msmatch-cover.jpg" | relative_url }})">
  <div class="right-half">
    <div class="two spacing"></div>
    <div class="section-header alt white">
      <h2>Background</h2>
    </div>
    <p class="light">Based in Portland, Oregon, Ms Match has played her signature style of vocal-driven, hip-hop influenced breakbeat, tech house, and bass house at most electronic festivals and venues in the area. 
    </p>
    <p class="light">Expanding on skills and taking her unique brand of musical experience to new audiences and locations are her primary goals as a DJ. Ms Match is also applying the same passion and discipline to producing, with an EP in sight for 2022.</p>
    <div class="three spacing"></div>
  </div>
</div>

<a id='works'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="mixes & video" title="Latest Music" %}
    </div>
  </div>
</div>

<div class='full no-padding' id="demo-1-works">
  <div class='mod modMasonryGallery' style="padding: 0 3%">
    <ul class='gallery'>
      <li>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1214423326&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
      </li>
      <li>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1173584452&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
      </li>
      <li>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1173570973&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
      </li>
      <li>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/866877049&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
      </li>
      <li>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/797081728&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
      </li>
      <li>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/737940955&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
      </li>
      <li>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/641174553&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
      </li>
      <li>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/509792679&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
      </li>
      <!--
      {% for item in page.works %}

        {% assign work = site.works | where:"path",item.path | first %}

        {% if item.style == 'wide' %}
          {% assign class = 'wide' %}
          {% assign width = 1000 %}
          {% assign height = 350 %}
        {% else %}
          {% assign class = '' %}
          {% assign width = 500 %}
          {% assign height = 350 %}
        {% endif %}

        <li class="{{class}}">
          <a href='{{ work.url | relative_url }}'>
            <img width="{{width}}" height="{{height}}" alt="" src="{{ work.thumbnail | relative_url }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title | downcase | capitalize }}</h3>
                <p>{{ work.categories | join:" & " | escape }}</p>
              </div>
            </div>
          </a>
        </li>

      {% endfor %}
      -->

    </ul>
    <div class="four spacing"></div>
  </div>
</div>

<!--
<a id='blog'></a>
<div class='full grey'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="latest posts" title="Wrap ideas." %}
    </div>
  </div>
</div>
<div class="full grey no-padding no-overflow">
  {% for post in site.posts limit:3 %}
    <div class='large-4 columns'>
      <div class='mod modBlogPost simple'>
        <div class='content'>
          <p class='date'>{{ post.date | date: "%B %d, %Y" }}</p>
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          <div class='spacing'></div>
          <p>
            <a class='button boxed yellow tiny' href='{{ post.url | relative_url }}'>Read more</a>
          </p>
        </div>
      </div>
      <div class="four spacing"></div>
    </div>
  {% endfor %}
</div>
-->

<a id='shows'></a>
<div class='full no-overflow no-padding parallax' style="background-image: url({{ "/assets/images/@stock/MsMatch-ReSet2021-7.jpg" | relative_url }})">
  <div class="left-half">
    <div class="two spacing"></div>
    <div class="row">
      <div class="section-header alt white">
        <h2>Upcoming Shows</h2>
      </div>
      <div class='mod modTestimonials simple'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items'>
              {% for t in page.testimonials %}
                <div class='item'>
                  <p class='quote'><a href='{{ t.link }}' target="_blank">{{ t.quote }}</a></p>
                  <div class="two spacing"></div>
                  <div class='author'>
                    <p class='author-name'>
                      -
                      <strong>{{ t.author.name }}</strong>
                      {%- if t.author.position %}, {{ t.author.position }}{% endif %}
                    </p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="Where Ms Match Plays" title="Festivals & Shows" %}
    </div>
  </div>
</div>
<div class="full no-padding">
  <div class="clients">
    <div class='row'>
        <div class='large-4 large-offset-2 small-5 small-offset-1 columns'>
          <h3>Festivals</h3>
          <div class="shows">
            <ul>
              {% for festival in page.festivals %}
              <li>{{ festival }}</li>
              {% endfor %}
            </ul>
          </div>
          <h3>Opened for</h3>
          <div class="shows">
            <ul>
              {% for open in page.opens %}
              <li>{{ open }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class='large-4 small-5 columns end'>
          <h3>Events</h3>
          <div class="shows">
            <ul>
              {% for event in page.events %}
              <li>{{ event }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
    </div>
  </div>
  <div class="four spacing"></div>
</div>

<div class="four spacing"></div>
<a id='contact'></a>
{% include contact-form.html %}

{% include social-networks.html %}