<div class='full parallax social-networks' style="background-image: url({{ "/assets/images/@stock/patio-2019-2-overlay.jpg" | relative_url }})">
  <div class='two spacing'></div>
  <div class='row'>
    <div class='medium-4 columns'>
      <div class='big-social'>
        <a href='https://www.facebook.com/DJMsMatch'>
          <i class='fa fa-facebook'></i>
        </a>
        <h4>Facebook</h4>
      </div>
      <div class='two spacing'></div>
    </div>
    <div class='medium-4 columns'>
      <div class='big-social'>
        <a href='https://soundcloud.com/djmsmatch/tracks'>
          <i class='fa fa-soundcloud'></i>
        </a>
        <h4>Soundcloud</h4>
      </div>
      <div class='two spacing'></div>
    </div>
    <div class='medium-4 columns'>
      <div class='big-social'>
        <a href='https://msmatch.bandcamp.com/'>
          <i class='fa fa-headphones'></i>
        </a>
        <h4>Bandcamp</h4>
      </div>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>